<app-nav-bar></app-nav-bar>
<p-dialog header="เพิ่มใบขอซื้อวัสดุ" [(visible)]="visible" [style]="{ width: '100vw', height: '100vh' }" >
    <div class="table-wrapper">
        <input type="text" pInputText [(ngModel)]="searchText" placeholder="ค้นหา" (ngModelChange)="search()"/>

        <p-table [value]="filteredPrdList" responsiveLayout="stack" [breakpoint]="'960px'" *ngIf="searchText">
            <ng-template pTemplate="header">
                <tr>
                    <th>รายการวัสดุทั้งหมด</th>
                    <th>ตัวอย่างรูปภาพวัสดุ</th>
                    <th>จำนวนขอซื้อ</th>
                    <th>หน่วยนับ</th>
                    <th>ACTION</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.material_name }}</td>
                    <td><p-image src="http://localhost/backend/{{item.pic_path}}" alt="Image" width="100" [preview]="true"></p-image></td>
                    <td><input type="text" pInputText [(ngModel)]="item.quantity" placeholder="จำนวนขอซื้อ" /></td>
                    <td>{{item.unit_name}}</td>
                    <td><p-button label="+" (click)="addItem(item)" severity="success"></p-button></td>
                </tr>
            </ng-template>
        </p-table>

        <p-table [value]="stock" responsiveLayout="stack" [breakpoint]="'960px'">
            <ng-template pTemplate="header">
                <tr>
                    <th>รายการวัสดุทั้งหมด</th>
                    <th>ตัวอย่างรูปภาพวัสดุ</th>
                    <th>จำนวนขอซื้อ</th>
                    <th>หน่วยนับ</th>
                    <th>ACTION</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.material_name }}</td>
                    <td><p-image src="http://localhost/backend/{{item.pic_path}}" alt="Image" width="100" [preview]="true"></p-image></td>
                    <td><input type="text" pInputText [(ngModel)]="item.quantity" /></td>
                    <td>{{item.unit_name}}</td>
                    <td><p-button label="+เพิ่ม" (click)="addItem(item)" severity="success"></p-button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>


       
        
            
        <div class="container">
            <div class="card">
              <div class="card-header">
                <table>
                    <tr>
                        <td>
                            <h3>เพิ่มใบขอซื้อสินค้า</h3>
                        </td>
                        <td>
                            <p-button (click)="showDialog()" icon="pi pi-external-link" label="เพิ่มใบขอซื้อสินค้า +"></p-button>
                        </td>
                    </tr>
                </table>
               
                
              </div>
              <div class="card-body">
                <div class="form-group">
                    <p-table [value]="selectedItems" responsiveLayout="stack" [breakpoint]="'960px'">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th>รายการสินค้า</th>
                                <th>รหัสวัสดุ</th>
                                <th>รูปภาพวัสดุ</th>
                                <th>จำนวน</th>
                                <th>หน่วยนับ</th>
                                <th>แก้ไข</th>
                                <th>ลบ</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-columns="columns">
                            <tr>
                                <td>รายการสินค้า:{{ item.name }}</td>
                                <td>รหัสวัสดุ:{{ item.code }}</td>
                                <td><p-image src="http://localhost/backend/{{item.pic_path}}" alt="Image" width="100" [preview]="true"></p-image></td>
                                <td>
                                    <ng-container *ngIf="!item.editing; else editCell">
                                        จำนวน:{{ item.quantity }}
                                    </ng-container>
                                    <!-- แสดงช่องข้อมูลสำหรับแก้ไข -->
                                    <ng-template #editCell>
                                        จำนวน:<input type="text" pInputText [(ngModel)]="item.quantity" required/>
                                    </ng-template>
                                </td>
                               
                                <td>หน่วยนับ:{{ item.unit_name }}</td>
                                <td>
                                    <button pButton type="button" label="{{ item.editing ? 'บันทึก' : 'แก้ไข' }}" (click)="toggleEdit(item)" class="p-button-warning"></button>
                                </td>
                                <td>
                                    <button pButton type="button" label="ลบ" (click)="deleteItem(item)" class="p-button-danger"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    
                    <!-- สร้าง footer แบบ custom -->
                    <div *ngIf="selectedItems && selectedItems.length > 0" class="custom-footer">
                        <input type="text" pInputText [(ngModel)]="maysed" placeholder="หมายเหตุ" required/>
                        <button pButton type="button" label="บันทึก" (click)="saveData()" [disabled]="!maysed || !selectedItems || selectedItems.length === 0"></button>
                    </div>
                    
                </div>
              </div>
            </div>
          </div>

          <p-toast></p-toast>
                                        <p-confirmDialog #cd>
                                            <ng-template pTemplate="headless" let-message>
                                                <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
                                                    <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8">
                                                        <i class="pi pi-question text-5xl"></i>
                                                    </div>
                                                    <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
                                                    <p class="mb-0">{{ message.message }}</p>
                                                    <div class="flex align-items-center gap-2 mt-4">
                                                        <button pButton label="Save" (click)="cd.accept()" class="w-8rem"></button>
                                                        <button pButton label="Cancel" (click)="cd.reject()" class="p-button-outlined w-8rem "></button>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-confirmDialog>