<div class="login-box">
    <form (ngSubmit)="login()">
    <div class="login-set">
        <div>
            <h2><i class="pi pi-sign-in" style="font-size: 1.5rem"></i>เข้าสู่ระบบ</h2>
        </div>
        <div>
           ชื่อผู้ใช้ 
        </div>
        <div>
            <input type="text" pInputText [(ngModel)]="username" placeholder="Username" [style]="{ width: '100%'}" id="username" name="username"/>
        </div>
        <div>
            รหัสผ่าน
        </div>
        <div>
            <p-password [toggleMask]="true" [style]="{ width: '100%'}" [(ngModel)]="password"  [feedback]="false" placeholder="Password" id="password" name="password"></p-password>
        </div>
        <br>
        <div style="display: flex;align-items: center;">
            <button pButton pRipple label="เข้าสู่ระบบ" class="p-button-success" [style]="{width:'150px'}"></button>
            &nbsp; ยังไม่มีบัญชี?  <a style="color: blue;cursor: pointer;" (click)="register()">สมัคร</a>
        </div>
    </div>
</form>
</div>