<div *ngFor="let prd of prdEdit">
    <div class="p-fluid">
        <div class="p-field">
            <label for="productName">ชื่อวัสดุ:</label>
            <input id="productName" type="text" pInputText [(ngModel)]="edit_prd_name" placeholder="{{prd.material_name}}" />
        </div>
        <div class="p-field">
            <label for="unit">หน่วยนับ:</label>
            <p-dropdown id="unit" [options]="unitId" [(ngModel)]="selectedUnit" optionLabel="unit_name" placeholder="{{prd.unit_name}}"></p-dropdown>
        </div>
        <div class="p-field">
            <label for="materialType">ประเภทวัสดุ:</label>
            <p-dropdown id="materialType" [options]="typeId" [(ngModel)]="selectedType" optionLabel="material_type_name" placeholder="{{prd.material_type_name}}"></p-dropdown>
        </div>
        <div class="p-field">
            <label for="materialSlot">ช่องวาง:</label>
            <p-dropdown id="materialSlot" [options]="slot" [(ngModel)]="selectedslot" optionLabel="material_slot_name" placeholder="{{prd.material_slot_name}}"></p-dropdown>
        </div>
        <div class="p-field">
            <label for="materialShelf">สถานะ:</label>
            <p-dropdown id="materialShelf" [options]="staTus" [(ngModel)]="selecStatus" optionLabel="name" placeholder="{{prd.state_name}}"></p-dropdown>
        </div>
        <div class="p-field">
            <label for="materialShelf">Upload แก้ไขรูปภาพวัสดุ:</label>
            <input type="file"  (change)="onFileSelected($event)"  >
        </div>
        <br>
        <div class="p-field">
            <button pButton label="บันทึก" icon="pi pi-check"  class="p-button-success" (click)="save_edit_prd()"></button>
        </div>
    </div>
</div>
<p-toast></p-toast>
