<app-nav-bar></app-nav-bar>
<br>
<div class="container">
    <div class="card">
      <div class="card-header">
       <table>
        <tr>
            <td><h2>รายชื่อพนักงานขอเบิกสินค้า</h2> </td>
            <td>ค้นหาด้วยชื่อผู้สั่งซื้อ</td>
            <td><p-button label="Submit" icon="pi pi-plus"></p-button></td>
        </tr>
       </table>
       
        
      </div>
      <div class="card-body">
        <div class="form-group">
           
            
        </div>
      </div>
    </div>
  </div>