<p-toast></p-toast>
<table *ngFor="let company of companies" >
    <tr>
        <td>ชื่อบริษัท</td>
        <td><input type="text" pInputText [(ngModel)]="name_comp" placeholder="{{company.company_name}}"/></td>
        <td>เบอร์โทรติดต่อ</td>
        <td><input type="text" pInputText [(ngModel)]="num_comp" placeholder="{{company.company_numphone}}" required/></td>
        
    </tr>
    <tr>
        <td>Email ติดต่อ*(ถ้ามี)</td>
        <td><input type="text" pInputText [(ngModel)]="email_comp"  placeholder="{{company.company_email}}"/></td>
        <td>ที่อยู่</td>
        <td><input type="text" pInputText [(ngModel)]="comp_address" placeholder="{{company.company_address}}"/></td>
        <td>
            <p-confirmPopup></p-confirmPopup>
            <p-button (click)="confirm1($event)" icon="pi pi-check" label="บันทึก"></p-button>
            </td>
    </tr>
</table>