<app-nav-bar></app-nav-bar>
<br>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="container">
    <div class="card">
      <div class="card-header">
        <p-table [value]="[{}]" [responsiveLayout]="'stack'">
            <ng-template pTemplate="body">
                <tr>
                    <td>
                        <h3>รายการวัสดุในคลังทั้งหมด</h3>
                    </td>
                    <td>
                        <!-- ส่วนของฟอร์มค้นหา -->
                        <input type="text" pInputText [(ngModel)]="searchText" placeholder="ค้นหา" (ngModelChange)="search()"/>
                    </td>
                    <td *ngIf="userLv == 3">
                        <button pButton label="เพิ่มวัสดุใหม่" icon="pi pi-plus" (click)="showDialog()"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        
        <p-dialog header="เพิ่มวัสดุใหม่เข้าคลังวัสดุ" [(visible)]="visible" [style]="{width: '100vw',height:'100hw'}">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="productName">ชื่อวัสดุ:</label>
                    <input id="productName" type="text" pInputText [(ngModel)]="prdNew" />
                </div>
                <div class="p-field">
                    <label for="unit">หน่วยนับ:</label>
                    <p-dropdown id="unit" [options]="unitId" [(ngModel)]="selectedUnit" optionLabel="unit_name"></p-dropdown>
                </div>
                <div class="p-field">
                    <label for="materialType">ประเภทวัสดุ:</label>
                    <p-dropdown id="materialType" [options]="typeId" [(ngModel)]="selectedType" optionLabel="material_type_name"></p-dropdown>
                </div>
                <div class="p-field">
                    <label for="materialShelf">ช่องวาง</label>
                    <p-dropdown id="materialShelf" [options]="slot" [(ngModel)]="selectedslot" optionLabel="material_slot_name"></p-dropdown>
                </div>
                <br>
                <div class="p-field">
                    <label for="materialShelf">Upload รูปภาพวัสดุ:</label>
                    <input type="file" (change)="onFileSelected($event)" >
                </div>
                <br>
                <div class="p-field">
                    <button pButton label="บันทึก" icon="pi pi-check" (click)="saveProduct()" class="p-button-success"></button>
                </div>
            </div>
        </p-dialog>
        
      </div>
      <div class="card-body">
        <div class="form-group">
            <p-table [value]="filteredPrdList" *ngIf="searchText" responsiveLayout="stack" [breakpoint]="'960px'">
                <ng-template pTemplate="header" let-colums>
                    <tr>
                        <th>รหัสวัสดุ</th>
                        <th>รูปภาพวัสดุ</th>
                        <th>ชื่อวัสดุ</th>
                        <th>จำนวนคงเหลือ</th>
                        <th>หน่วยนับ</th>
                        <th>ประเภทวัสดุ</th>
                        <th>แถววาง</th>
                        <th>ชั้นวาง</th>
                        <th>ช่องวาง</th>
                        <th>สถานะ</th>
                        <th *ngIf="userLv == 3">ลบ</th>
                        <th *ngIf="userLv == 3">แก้ไข</th>
                        <th *ngIf="userLv == 3">ดูทั้งตั้ง</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-colums="colums">
                    <tr>
                        <td>{{ rowData.material_id }}</td>
                        <td><p-image src="http://localhost/backend/{{rowData.pic_path}}" alt="Image" width="100" [preview]="true"></p-image></td>
                        <td>{{ rowData.material_name }}</td>
                        <td>{{ rowData.material_value }}</td>
                        <td>{{ rowData.unit_name }}</td>
                        <td>{{ rowData.material_type_name }}</td>
                        <td>{{rowData.material_row_name}}</td>
                        <td>{{ rowData.material_class_shelf_name }}</td>
                        <td>{{rowData.material_slot_name}}</td>
                        <td [ngClass]="{'text-warning': rowData.state_id == 16, 'text-success': rowData.state_id == 8,'text-danger': rowData.state_id == 9}">
                            <ng-container *ngIf="rowData.state_id == 8">พร้อมใช้งาน</ng-container>
                            <ng-container *ngIf="rowData.state_id == 9">ไม่พร้อมใช้งาน</ng-container>
                            <ng-container *ngIf="rowData.state_id == 16">ชำรุด</ng-container>
                          </td>
                          <td  *ngIf="userLv == 3">
                            
                            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="confirm1($event,rowData.material_id)"></button> <!-- ปุ่มลบ -->
                          </td>
                          <td  *ngIf="userLv == 3">
                            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-warning" (click)="editPrd(rowData.material_id)"></button> <!-- ปุ่มแก้ไข -->
                          </td>
                          <td *ngIf="userLv == 3">
                            <button pButton icon="pi pi-eye" class="p-button-rounded p-button-info" (click)="openMap(rowData.material_id)"></button>
                          </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-table [value]="prdList" responsiveLayout="stack" [breakpoint]="'960px'">
                <ng-template pTemplate="header" let-colums>
                    <tr>
                        <th>รหัสวัสดุ</th>
                        <th>รูปภาพวัสดุ</th>
                        <th>ชื่อวัสดุ</th>
                        <th>จำนวนคงเหลือ</th>
                        <th>หน่วยนับ</th>
                        <th>ประเภทวัสดุ</th>
                        <th>แถววาง</th>
                        <th>ชั้นวาง</th>
                        <th>ช่องวาง</th>
                        <th>สถานะ</th>
                        <th *ngIf="userLv == 3">ลบ</th>
                        <th *ngIf="userLv == 3">แก้ไข</th>
                        <th *ngIf="userLv == 3">ดูทั้งตั้ง</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-colums="colums">
                    <tr>
                        <td>{{ rowData.material_id }}</td>
                        <td><p-image src="http://localhost/backend/{{rowData.pic_path}}" alt="Image" width="100" [preview]="true"></p-image></td>
                        <td>{{ rowData.material_name }}</td>
                        <td>{{ rowData.material_value }}</td>
                        <td>{{ rowData.unit_name }}</td>
                        <td>{{ rowData.material_type_name }}</td>
                        <td>{{rowData.material_row_name}}</td>
                        <td>{{ rowData.material_class_shelf_name }}</td>
                        <td>{{rowData.material_slot_name}}</td>
                        <td [ngClass]="{'text-warning': rowData.state_id == 16, 'text-success': rowData.state_id == 8,'text-danger': rowData.state_id == 9}">
                            <ng-container *ngIf="rowData.state_id == 8">พร้อมใช้งาน</ng-container>
                            <ng-container *ngIf="rowData.state_id == 9">ไม่พร้อมใช้งาน</ng-container>
                            <ng-container *ngIf="rowData.state_id == 16">ชำรุด</ng-container>
                          </td>
                        <td  *ngIf="userLv == 3">
                            
                            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="confirm1($event,rowData.material_id)"></button> <!-- ปุ่มลบ -->
                          </td>
                          <td  *ngIf="userLv == 3">
                            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-warning" (click)="editPrd(rowData.material_id)"></button> <!-- ปุ่มแก้ไข -->
                          </td>
                          <td *ngIf="userLv == 3">
                            <button pButton icon="pi pi-eye" class="p-button-rounded p-button-info" (click)="openMap(rowData.material_id)"></button>
                          </td>
                    </tr>
                </ng-template>
            </p-table>
            
        </div>
      </div>
    </div>
  </div>