.box-eiei{
  display: flex;
  width: 100vw;
  padding: 10px;
}
.kuy{
  width: 100%;
  padding: 10px;
  

}
  /* Responsive styles */


  @media screen and (max-width: 767px) {
    .box-eiei {
        display: block;
        padding: 10px;
      }
      .kuy{
        width: 100%;
        padding: 10px;
        
      }
}
@media only screen and (max-width: 600px) {
    .box-eiei {
      display: block;
      padding: 10px;
      }
      .kuy{
        width: 100%;
        padding: 10px;
        
      }
}

