<app-nav-bar></app-nav-bar>

<div *ngIf="userLv == 4" class="box-eiei">
    <p-fieldset legend="ใบขอซื้อ" [style]="{width:'350px'}" class="kuy">
        <div *ngFor="let afbb of afb | keyvalue">
            <h2 style="color: green;">{{ afbb.value }} ใบ</h2>
        </div>
    </p-fieldset>
    <p-fieldset legend="ใบขอซื้ออนุมัติแล้ว" [style]="{width:'350px'}" class="kuy">
        <div *ngFor="let afbb of afbC | keyvalue">
            <h2 style="color: green;">{{ afbb.value }} ใบ</h2>
        </div>
    </p-fieldset>
    <p-fieldset legend="ใบสั่งซื้อ" [style]="{width:'350px'}" class="kuy">
        <div *ngFor="let afbb of po | keyvalue">
            <h2 style="color: green;">{{ afbb.value }} ใบ</h2>
        </div>
    </p-fieldset>
    <p-fieldset legend="ใบสั่งซื้อตรวจรับแล้ว" [style]="{width:'350px'}" class="kuy">
        <div *ngFor="let afbb of poC | keyvalue">
            <h2 style="color: green;">{{ afbb.value }} ใบ</h2>
        </div>
    </p-fieldset>
    
</div>
<div *ngIf="userLv == 3" class="box-eiei">
    <p-fieldset legend="รายการวัสดุในคลัง" [style]="{width:'350px'}" class="kuy">
        <div *ngFor="let afbb of prd | keyvalue">
            <h2 style="color: green;">{{ afbb.value }} รายการ</h2>
        </div>
    </p-fieldset>
    <p-fieldset legend="รายการวัสดุคงคลังน้อย" [style]="{width:'350px',height:'550px',overflow:'scroll'}" class="kuy" >
        <p-table [value]="prdNoy" [responsiveLayout]="'scroll'">
            <ng-template pTemplate="header">
                <tr>
                  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-afbb let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{ afbb.material_name }}</td>
                    <td style="color: red;">{{ afbb.material_value }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>
    <p-fieldset legend="รายการวัสดุคงคลังมาก" [style]="{width:'350px',height:'550px',overflow:'scroll'}" class="kuy" >
        <p-table [value]="prdMak" [responsiveLayout]="'scroll'">
            <ng-template pTemplate="header">
                <tr>
                  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-afbb let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{ afbb.material_name }}</td>
                    <td style="color: red;">{{ afbb.material_value }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>
    <p-fieldset legend="รายการสั่งซื้อที่รอรับเข้า" [style]="{width:'350px'}" class="kuy">
        <div *ngFor="let afbb of lorRub | keyvalue">
            <h2 style="color: green;">{{ afbb.value }} รายการ</h2>
        </div>
    </p-fieldset>
    
</div>
