<div class="login-box">
  
    <div class="login-set">
        <div>
            <h2><i class="pi pi-user" style="font-size: 1.5rem"></i>กู้คืนรหัสผ่าน</h2>
        </div>
        <div>
           ชื่อผู้ใช้ 
        </div>
        <div>
            <input type="text" pInputText [(ngModel)]="username" placeholder="Username" [style]="{ width: '100%'}" id="username" name="username"/>
        </div>
        <div>
            Email
        </div>
        <div>
            <input type="text" pInputText [(ngModel)]="email" placeholder="Email" [style]="{ width: '100%'}" id="email" name="email"/>
        </div>
        
        <br>
        <div style="display: flex;align-items: center;">
            <button pButton pRipple label="Send Email" class="p-button-success" [style]="{width:'150px'}" (click)="send()"></button>
          
        </div>
    </div>

</div>