<div class="login-box">
    <div class="login-set">
        <div>
            <h2><i class="pi pi-user-plus" style="font-size: 1.5rem"></i>สมัครสมาชิก</h2>
        </div>
        <div>
           ชื่อผู้เข้าใช้งานระบบ
        </div>
        <div>
            <input type="text" pInputText [(ngModel)]="username" placeholder="ชื่อผู้เข้าใช้งานระบบ" [style]="{ width: '100%'}" id="username" name="username"/>
        </div>
        <div>
            รหัสผ่าน
        </div>
        <div>
            <p-password [toggleMask]="true" [style]="{ width: '100%'}" [(ngModel)]="password" [feedback]="true" placeholder="รหัสผ่าน" id="password" name="password"></p-password>
        </div>
        <div>
            ยืนยันรหัสผ่าน
        </div>
        <div>
            <p-password [toggleMask]="false" [style]="{ width: '100%'}" [(ngModel)]="passwordCon" [feedback]="true" placeholder="ยืนยันรหัสผ่าน" id="password" name="password" *ngIf="password != passwordCon"></p-password>
            <span *ngIf="password != passwordCon" style="color: red;">รหัสผ่านไม่ตรงกัน</span>
            <p-password [toggleMask]="false" [style]="{ width: '100%'}" [(ngModel)]="passwordCon" [feedback]="true" placeholder="ยืนยันรหัสผ่าน" id="password" name="password" *ngIf="password == passwordCon"></p-password>
        </div>
        
        
        <div>
            ชื่อจริง
        </div>
        <div>
            <input type="text" pInputText [(ngModel)]="userFname" placeholder="ชื่อจริง" [style]="{ width: '100%'}" id="userFname" name="userFname"/>
        </div>
        <div>
            นามสกุล
        </div>
        <div>
            <input type="text" pInputText [(ngModel)]="userLname" placeholder="นามสกุล" [style]="{ width: '100%'}" id="userLname" name="userLname"/>
        </div>
        <div>
            <label for="depart">ฝ่าย</label>
        </div>
        <div>
            <p-dropdown id="depart" [options]="departList" [(ngModel)]="selectedDepart" optionLabel="userdepart_name"></p-dropdown>
        </div>
        <br>
        <div style="display: flex;align-items: center;">
            <button pButton pRipple label="ลงทะเบียน" class="p-button-success" [style]="{width:'150px'}" (click)="register()" [disabled]="passwordCon == ''"></button>
            &nbsp; มีบัญชีอยู่แล้ว?  <a style="color: blue;cursor: pointer;" (click)="login()">เข้าสู่ระบบ</a>
        </div>
    </div>
</div>